<div class="Frame">
  <img class="SplashImage" src="assets/images/hope_splash.png" alt="Crossroads">
</div>

<div class="OptionsContainer">
  <h1 class="SectionTitle ToolTitle">This is Pandora</h1>

  <div class="FancyCard Intro">
    Pandora is a tool for modding Darkest Dungeon II.
    As this is a free page hosted on surge, all files are
    read and stored to your machine.<br>
    If you use this tool, all I ask is you give credit!
    Even if you don't, I'll sneakily
    put a txt file inside the mod folder to give credit to
    me, just in case people open the files to see how a mod
    is made.
  </div>

  <div class="Row Clickable">
    <span class="SubSectionTitle" (click)="openOriginalProfile()">Browse original DD2 files</span>
    <button class="ArrowButton"></button>
  </div>

  <div class="Row Clickable" (click)="openModFolderSelectionModal(false)">
    <span class="SubSectionTitle">Browse mod files</span>
    <button class="ArrowButton"></button>
  </div>

  <div class="Row Disabled">
    <span class="SubSectionTitle">Create new mod</span>
    <button class="ArrowButton"></button>
  </div>

</div>

<div class="Version">
  v0.0.0
</div>
