<div class="Frame">
  <img class="CrossroadsImage" src="assets/images/crossroads.png">
</div>

<div class="OptionsContainer">
  <h1 class="SectionTitle ToolTitle">The Crossroads</h1>
  <div class="Card">
    <div class="PaddedContent">

      <span class="Intro">
        This is a tool for modding Darkest Dungeon II.<br>
        Browse game files allows you to look at the files of the original game.
        Browse mod files allows you to look and edit the files of a mod folder.
      </span>

      <div class="Row Clickable">
        <span class="SubSectionTitle">Browse game files</span>
        <button class="ArrowButton"></button>
      </div>
      <div class="Row Clickable">
        <span class="SubSectionTitle">Browse mod files</span>
        <button class="ArrowButton"></button>
      </div>
    </div>
  </div>
</div>
