$yellow-title-bright: #fed676;
$yellow-title-dark: #4f2b11;

$blue-background-bright: #154265;
$blue-background-dark: #05111d;

$text-color: #a4a4a0;
$text-color-bright: white;

$yellow-text: #9c8152;
$blue-text: #3b6096;
