.ArrowButton {
  width: 32px;
  height: 32px;
  background-color: $yellow-text;
  border: none;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

  // MASK
  -webkit-mask:
    url("/assets/icons/icon-go.png");
  mask:
    url("/assets/icons/icon-go.png");
  mask-size: 32px;
  mask-position: center;
  mask-repeat: no-repeat;

  &.Left {
    transform: scaleX(-1);
  }
}
