.SectionTitle {
  font-family: "NDDunkel Bold", serif;
  font-size: $text-large;
  background: -webkit-linear-gradient($yellow-title-bright, $yellow-title-dark);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.SubSectionTitle {
  font-family: "NDDunkel Bold", serif;
  font-size: $text-medium;
  color: $yellow-text;

  &.Yellow { color: $yellow-text; }
  &.Blue { color: $blue-text; }
  &.Gray { color: $text-color; }
}
