<div class="FancyCard WithGlow">
  <h1 mat-dialog-title>
    <span class="SubSectionTitle">Select folder</span>
  </h1>

  <mat-dialog-content>
    Content content
    <input type="file" class="file-upload" webkitdirectory (change)="saveSelection($event)" #folderUpload>
    <input type="file" class="file-upload" (change)="saveSelection($event)" #fileUpload>
    <div  *ngIf="config.mode === 'SELECT_FOLDER'">
      UPLOAD FOLDER wip
    </div>
    <div  *ngIf="config.mode === 'SELECT_FILE'">
      UPLOAD FILE wip
    </div>
  </mat-dialog-content>

  <!-- https://blog.angular-university.io/angular-file-upload/ -->

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="selectedFolder" cdkFocusInitial>Submit</button>
  </div>
</div>
